<h1 class="text-center">{{ pageTitle }}</h1>

<rez-loading *ngIf="loading"></rez-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="profile">
    <!-- Event form -->
    <rez-profile-form [profile]="profile"></rez-profile-form>
  </ng-template>

  <!-- Error loading event -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> User data could not be retrieved. View <a mat-button routerLink="/profile" class="alert-link"><mat-icon>person</mat-icon>  Profile</a>.
  </p>
</ng-template>